<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <a href="/">
            <h3>Home page</h3>
        </a>
        <h2>UPDATE PRODUCT</h2>
        <form action="/GameInformation/<%= product._id %>" method="POST">
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name='productId' value="<%= product._id %>" disabled>
            </div>
            <div class="form-group">
                <label>Tên trò chơi</label>
                <input class="form-control" type="text" name='productName' value="<%= product.name %>" disabled>
            </div>
            <div class="form-group">
                <label>Giá vé</label>
                <input class="form-control" type="number" name='productType' value="<%= product.type %>" disabled>
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <input class="form-control" type="text" name='productDetails' value="<%= product.details %>" maxlength="150">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
        </form>
    </div>
</body>